html, body {
    font-family: "Source Sans 3", sans-serif;
    font-size: 13px;
    margin: 0 auto;
    padding: 0;
    background-color: #EDEDED;
    width: 375px;
}

header {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #C6C6C6;
}

header, main {
    background-color: #ffffff;
}

section {
    margin-bottom: 25px;
}

.logo {
    width: 127px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50px;
}

.userinfo-container {
    display: flex;
    align-items: center;
}

.userinfo-container, 
.icons {
    padding-left: 10px;
}

.user-text-container {
    padding-left: 5px;
}

.name, 
.likes,
.username {
    font-weight: bold;
    margin-bottom: 0;
}

.location {
    margin-top: 0;
}

.post-img {
    width: 375px;
}

.icon-container {
    padding-top: 20px;
}

.icons {
    width: 23px;
    opacity: 0.7;
}

.icons:hover,
.icons:focus {
    opacity: 1;
}

.comment {
    padding-bottom: 15px;
}

.comment,
.like-txt {
    padding-left: 13px;
}
